.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    opacity: 1;
    /* background-image: url('../../images/workDesk2.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;   */
}

.transparencyBox {
    background-color: rgba(265, 256, 256, .4) ;
    /* opacity: 0.5; */
    max-height: min-content;
    height: auto;
    padding: 0 5% 0 5%;
    margin: 5% auto 10% auto;
}

.transparencyTextBox {
    background-color: rgba(265, 256, 256, .2) ;
    /* opacity: 0.5; */
    max-height: min-content;
    height: auto;
    padding: 5% 5% 10% 5%;
    margin: auto;
}

.div2 { grid-area: 1 / 1 / 3 / 4; }
.div3 { grid-area: 1 / 4 / 3 / 6; }
.div4 { grid-area: 1 / 1 / 3 / 6; }
.div1 { 
    grid-area: 1 / 1 / 4 / 4;
    /* grid-area: 3 / 1 / 6 / 6; */
}


/* .div1 { grid-area: 1 / 1 / 3 / 6; }
.div2 { grid-area: 3 / 1 / 4 / 4; }
.div3 { grid-area: 3 / 4 / 4 / 6; } */