.layout { display: flex; flex-direction: column; min-height: 100vh; 
    background-image: url('../../images/workDesk3.jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    outline: 1.5px solid white;
    outline-offset: -.5em; 
}
/* .layout { display:auto;} */
