.fancyFrame {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid rgb(168, 168, 168);
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%, white 0);
}

.outlineFrame {
    outline: 1.5px solid white;
    outline-Offset: -.5em;
}
  
  